@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}


body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    flex-wrap: wrap;
}

#homepage-settings {
    background-color: #fffbff; /*if background image unavailable */
    background: url('../images/hero-image.jpg') no-repeat center fixed;
    background-size: cover;
  }

#feedback-settings {
    margin-top: 0;
    background-color: #f3f3f3;
    background-image: url('../images/palewallpaper.jpg');
}

.site-header_wrapper, #form-header_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
    padding: 0.5em;
    padding-right: 1.5em;
    margin: 0.5em;
    text-align: center;  
}

.site-header_wrapper {
  background-image: url('../images/wallpaper.jpg');
}

#form-header_wrapper {
    height: 70px;
    margin-bottom: 0px;
    background-color: rgba(235,239,233,.3);
    margin-top: 5%;
    border-bottom: #889bae solid;
    border-top: #889bae solid;
}

h1, h2, h4 { 
    font-family: Permanent Marker, Impact, sans-serif;    
}

h1 {
    color: darkolivegreen;
    font-size: 170%;
    font-weight: lighter;
}

h2 {
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 120%;
}

h4 { 
    font-weight: lighter;
    color: hwb(292 27% 61%);
    font-size: 125%;
    letter-spacing: 1px;
    background-color: rgba(255,251,255,.2);
}

    /* timeline code inspired by https://alvarotrigo.com/blog/html-css-timelines/ */
    :root {
        --primary-color: #fffffc;
        --background-color: #889bae;
        --font: Open Sans, helvetica;
      }
      
      * {
        margin: 0;
        padding: 0;
      }
      
      #timeline-body {
        background: var(--background-color);
        font-family: var(--font);
        display: flex;
        justify-content: center;
      }
      
      /* Timeline Container */
      .timeline-container {
        background: var(--primary-color);
        margin: 20px auto;
        padding: 20px;
      }
      
      /* Card container */
      .card {
        position: relative;
        max-width: 400px;
      }
      
      /* setting padding based on even or odd */
      .card:nth-child(odd) {
        padding: 30px 0 30px 30px;
      }
      .card:nth-child(even) {
        padding: 30px 30px 30px 0;
      }
      /* Global ::before */
      .card::before {
        content: "";
        position: absolute;
        width: 50%;
        border: solid #668D2E;
      }
      
      /* Setting the border of top, bottom, left */
      .card:nth-child(odd)::before {
        left: 0px;
        top: -4.5px;
        bottom: -4.5px;
        border-width: 5px 0 5px 5px;
        border-radius: 50px 0 0 50px;
      }
      
      /* Setting the border of top, bottom, right */
      .card:nth-child(even)::before {
        right: 0;
        top: 0;
        bottom: 0;
        border-width: 5px 5px 5px 0;
        border-radius: 0 50px 50px 0;
      }
      
      /* Removing the border if it is the first card */
      .card:first-child::before {
        border-top: 0;
        border-top-left-radius: 0;
      }
      
      /* Removing the border if it is the last card  and it's odd */
      .card:last-child:nth-child(odd)::before {
        border-bottom: 0;
        border-bottom-left-radius: 0;
      }
      
      /* Removing the border if it is the last card  and it's even */
      .card:last-child:nth-child(even)::before {
        border-bottom: 0;
        border-bottom-right-radius: 0;
      }
      
      /* Information about the timeline */
      .info {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;
      }
      
      /* Title of the card */
      .title {
        color: #04293e;
        position: relative;
        background-color: #d7c3a3;
      }
      
      /* Timeline dot  */
      .title::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: #604664;
        border-radius: 999px;
        border: 3px solid #668D2E;
      }
      
      /* text right if the card is even  */
      .card:nth-child(even) > .info > .title {
        text-align: right;
      }
      
      /* setting dot to the left if the card is odd */
      .card:nth-child(odd) > .info > .title::before {
        left: -45px;
      }
      
      /* setting dot to the right if the card is odd */
      .card:nth-child(even) > .info > .title::before {
        right: -45px;
      }
    
       /* end of timeline code */

form {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    font-size: small;
    color:#2b2d2f;
    background-color: #F8EEEC; /* if background image is unavailable */
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: 100%; 
    padding-left: 2%;
    padding-right: 2%;
    border: #A27C5B solid;
    border-radius: 20px;
}

label {
    padding: 5px;
}

textarea {
    padding: 5px;
}

.logo > i { 
    color: #604664;
}

ul li {
    display: inline;
}

h3, article {
    display: grid;
    flex: 1;
    margin-left: 30%;
    align-items: center;
    color: #2b2d2f;
    background-color:rgba(255,251,255,.5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

.general-footer, #form-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 150%;
    margin-bottom: 1%;
}

.general-footer { 
    background-image: url('../images/palewallpaper.jpg');
    background-color: #d3d3d3; /* if background image unavailable */
    background-size: 70%;
    background-repeat: repeat;
    }

#form-footer { 
    opacity: 1;
    margin-top: -40px;
    background-color: rgba(235,239,233,.3);
    border-top: #889bae solid;
    border-radius: 40px;
  }

a { text-decoration: none;}

.nav-links {
    color: #604664;
    font-size: 100%;
}

footer a {
    color: darkolivegreen;
    font-size: 120%;
    background-color: rgba(255,251,255,.5);
}

footer>ul>li {
    padding-left: 50px;
    padding-right: 50px;
}

footer a:hover {
    color: #04293e;
}

span { 
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: darkolivegreen;
}

#navbar a:visited {
    color:#2c566e;
}

#navbar a:hover {
    color: #A27C5B;
}

#navbar a:active {
    color:#668D2E;
}

.container {
  margin-top: 2%;
  margin-bottom: 0;
}

#form-footer {
  height: 100px;
  align-items: center;
}

/* RESONSIVE FEEDBACK FORM: based on the W3 "HOW TO - Responsive Form" at http://www.w3schools.com/howto/howto_css_responsive_form.asp */
/* Style inputs, select elements and textareas */

input[type=text], select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px double #604664;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=email], select {
    width: 100%;
    padding: 10px;
    border: 1px double #604664;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #668D2E;
    color: #F8EEEC;
    padding: 12px 20px;
    margin-top: 2px;
    border: slategrey;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover{
    background-color: #660066;
  }

  input[type=submit]:visited{
    background-color: #d3d3d3;
  }
  /* Style the container */
  .container {
    padding: 20px;
    font-family: Open Sans, 'Courier New', Courier, monospace;
    color: darkslategray;
    font-size: large;
    font-weight: bold;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 20px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
/* END OF REGULAR FEEDBACK FORM CODE */  

/* MEDIA QUERIES */

@media only screen 
  and (min-device-width: 746px) and (max-device-width: 793px) {

  .nav-links {
    font-size: 80%;
    background-color: rgb(245, 243, 245);
    border-radius: 5%;
}   

  nav {
    padding-left: 5%;
    }
  }

  /* most mobile phones, portrait, including the foldable galaxy fold (just about!), from iphone4  to iphone13 max. 
  And tablets from surface duo to nexus 9 */
 @media only screen 
  and (min-device-width: 280px)
  and (max-device-width: 1280px)
  and (min-device-height: 480px)
  and (max-device-height: 2050px)
  and (orientation: portrait)  {
 
   h4 {font-size: small;}   
 
   footer>ul>li {
    padding-left: min (10px);
    padding-right: min(10px);
    align-items: stretch;
}

  #form-footer {
      border: none;
      background: none;
      margin-bottom: min(50px, 10%);
      width: 30% center;
      align-items: center;
}

  form {
      font-size: x-small;
      padding-left: 1%;
      padding-right: 1%;
      border: #A27C5B solid 1px;
      border-radius: 10px;
      margin-top: min(5px);
      background-image: none;
      background-color: #F8EEEC;             
}  

  .container {
     margin-top: min(2px);
}

    nav {
    width: 100%;
    margin-top: min(2px);
    margin-bottom: min(2px);
    
}

  h1 {
    font-size: 120%;
    font-weight:300;
    background-color: #f3f3f3;
    border-radius: 5%;
}

.nav-links {
    font-size: small;
    background-color: rgb(245, 243, 245);
    border-radius: 5%;
    padding: min(2px);
  }

  .general-footer, #form-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: medium;
}

  footer>ul>li {
    padding-left: 20px;
    padding-right: 20px;
}
}

/* same as above, phones and tablets, but for landscape */

@media only screen 
  and (min-device-width: 640px)
  and (max-device-width: 1279px)
  and (min-device-height: 360px)
  and (max-device-height: 719px)
  and (orientation: landscape)  {

    h1 { font-size: 120%;}
    h2 {font-size: small;}
    #nav-bar { font-size: small;}

    .site-header_wrapper, #form-header_wrapper {
      margin-top: 0%;
      max-height: 10%;
      border: none;
    }

    footer>ul>li {
      padding-left: min (10px);
      padding-right: min(10px);
      align-items: stretch;
  }
  
    #form-footer {
        border: none;
        background: none;
        margin-bottom: min(50px, 10%);
        width: 30% center;
        align-items: center;
  }
  
    form {
        font-size: x-small;
        padding-left: 1%;
        padding-right: 1%;
        border: #A27C5B solid 1px;
        border-radius: 10px;
        margin-top: min(5px);
        background-image: none;
        background-color: #F8EEEC;             
  }  
  
    .container {
       margin-top: -20px;
  }
  
  .nav-links {
      font-size: small;
      background-color: rgb(245, 243, 245);
      border-radius: 5%;
    }
  
    .general-footer, #form-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: medium;
  }
  
    footer>ul>li {
      padding-left: 20px;
      padding-right: 20px;
  }
  }
  
  /*surface pro landscape*/

  @media only screen 
  and (device-width: 1368px) and (device-height: 912px)
  and (orientation: landscape) {

  .site-header_wrapper {
    border: none;
  }

  h1 { font-size: medium;}
    
  }


  /*nest hub max landscape*/


/* desktops and some laptops and nest hub and nest hub max */

@media only screen 
  and (min-device-width: 1280px)
  and (max-device-width: 2000px)
  and (min-device-height: 720px)
  and (max-device-height: 1100px)
  and (orientation: landscape) {

    h1 {
      font-size: 300%;
      font-weight: lighter;
    }

    span {
      color: violet;
      font-size: larger;}

  h2 {
      font-size: 220%;
  }

  h3 {
      font-size: 250%;
  } 

  .nav-links {
      color: #604664;
      font-size: 100%;
  }
  
  footer a {
      color: darkolivegreen;
      font-size: 250%;
      background-color: rgba(255,251,255,.5);
  }
    
  footer>ul>li {
    padding-left: 20px;
    padding-right: 20px;

  }
  
  #form-header_wrapper {
    margin-bottom: 10%;
    padding-bottom: 3%;
    padding-top: 1%;
    margin-top: 2%;
  }

  form {
    padding: 5%;
    margin-top: -5%;
  }

  #form-footer {
    margin-top: 4%;
    border: none;
  }

  #timeline-body {
    background-image: url('../images/palewallpaper.jpg');
    background-size: 30%;
    background-repeat: repeat;
  }
}




